
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content="i got sued by six!?!?!? ong????">
    <meta name="author" content="Vexv0t">
		<style>
			@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/jetbrains-mono.min.css");
			html,
			body {
				font-family: 'JetBrains Mono', sans-serif;
				margin: 0;
                background-color: black;
				padding: 2rem;
				color: white;
			}
			
		</style>
	</head>
	<body>
      <h1>VexDev</h1>
      <p>Hello, Welcome to my page, I mostly work with Web Development. Normal things y'know?</p>
      <br>
      <span>Projects that i am working on:</span>
      <ul>
        <li>Chron - A little game base for school chromebooks.</li>
      </ul>
      <h6>thats fucking all my brain didnt generated fantastic things!</h6>
	</body>
</html>
